h1 { color: green;
    font-size: 16px}

.header{
   background-color: green;
   color: white;
   text-align: center;
   font-size: 16px;
   padding: 5px;
}

.footer{
   background-color: gainsboro;
   color: white;
   text-align: center;
   font-size: 13px;
   padding: 5px;
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }